section.contacts.block#contacts
	.section.animation-block
		h2.title.animation vulcan investments address
		.bricks
			.m6.twd5.tlwd6.dwd7.contacts-map-cont
				.contacts-map
					iframe(src="" allowfullscreen="" loading="lazy")
			.m6.twd3.tlwd4.dwd5
				.contacts-info
					.contacts-info-block.animation
						.contacts-info-icon
							+img('phone.svg')
						a(href='tel:7327403896').contacts-info-link
							span Give Us A Call
							span (732) 740 - 3896
					.contacts-info-block.animation
						.contacts-info-icon
							+img('Chats.svg')
						a(href='mailto:igor@vulcanent.com').contacts-info-link
							span Send Us An Email
							span igor@vulcanent.com
					.contacts-info-block.animation
						.contacts-info-icon
							+img('address.svg')
						.contacts-info-link
							span 200 Craig Road Suite 220,
							span Manalapan NJ 07726