extends template/main
append vars
	-
		page_title= 'Главная'
block content
	main
		section.banner
			.section
				.twd7.banner-inner
					h1.title.banner-title Invest in real estate
					p.banner-desc Vulcan Investments is always seeking to acquire new properties and deliver outstanding returns
					.banner-buttons
						button.button.button-blue INVEST WITH US
						button.button.button-transparent SELL MY PROPERTY
		section.about
