extends template/main
append vars
	-
		page_title = 'Projects'
block content
	main
		section.projects.block
			.section.animation-block
				h2.title.animation Featured Projects
				h6.projects-subtitle.animation View some of our featured real estate transactions
			.section.animation-block
				.bricks.projects-block-row
					.m6.twd1.tl1.dwd1.projects-year.animation
						span 2018
					.m6.t7.tlwd9.d11.projects-block
						.projects-info
							h5.projects-info-title
								span.animation 20 Court Street
								span.animation Freehold Boro NJ
							p.projects-info-desc 77,000sq Office/Medical Complex, purchased at 55% occupancy, sitting on 5.5 Acre property. Within 1 year, complex is 96% Occupied and fully stabilized.
						.projects-img
							+img('projects-bgc-1.jpg')
			.section.animation-block
				.bricks.projects-block-row
					.m6.twd1.tl1.dwd1.projects-year.animation
						span 2019
					.m6.t7.tlwd9.d11.projects-block
						.projects-info
							h5.projects-info-title
								span.animation 617 Palmer Ave
								span.animation Hazlet NJ
							p.projects-info-desc 77,000sq Office/Medical Complex, purchased at 55% occupancy, sitting on 5.5 Acre property. Within 1 year, complex is 96% Occupied and fully stabilized.
						.projects-img
							+img('projects-bgc-2.jpg')
			.section.animation-block
				.bricks.projects-block-row
					.m6.twd1.tl1.dwd1.projects-year.animation
						span 2020
					.m6.t7.tlwd9.d11.projects-block
						.projects-info
							h5.projects-info-title
								span.animation 411 RT 34
								span.animation Colts Neck NJ
							p.projects-info-desc 77,000sq Office/Medical Complex, purchased at 55% occupancy, sitting on 5.5 Acre property. Within 1 year, complex is 96% Occupied and fully stabilized.
						.projects-img
							+img('projects-bgc-3.jpg')
			.section.animation-block
				.bricks.projects-block-row
					.m6.twd1.dwd1.projects-year.animation
						span 2021
					.m6.t7.d11
						.bricks
							.m6.projects-block.projects-t30
								.projects-info
									h5.projects-info-title
										span.animation 100-300 Craig Road
										span.animation Manalapan NJ
									p.projects-info-desc 77,000sq Office/Medical Complex, purchased at 55% occupancy, sitting on 5.5 Acre property. Within 1 year, complex is 96% Occupied and fully stabilized.
								.projects-img
									+img('projects-bgc-1.jpg')
							.m6.projects-block.projects-t30
								.projects-info
									h5.projects-info-title
										span.animation 5015 Rt 33
										span.animation Wall NJ
									p.projects-info-desc 77,000sq Office/Medical Complex, purchased at 55% occupancy, sitting on 5.5 Acre property. Within 1 year, complex is 96% Occupied and fully stabilized.
								.projects-img
									+img('projects-bgc-2.jpg')
							.m6.projects-block.projects-t30
								.projects-info
									h5.projects-info-title
										span.animation 136-138 Merrick Road
										span.animation Farmingdale
									p.projects-info-desc 77,000sq Office/Medical Complex, purchased at 55% occupancy, sitting on 5.5 Acre property. Within 1 year, complex is 96% Occupied and fully stabilized.
								.projects-img
									+img('projects-bgc-3.jpg')
						.bricks.mt19
							.m6.projects-block.projects-t70
								.projects-info
									h5.projects-info-title
										span.animation 19 West main Street
										span.animation Freehold
									p.projects-info-desc 77,000sq Office/Medical Complex, purchased at 55% occupancy, sitting on 5.5 Acre property. Within 1 year, complex is 96% Occupied and fully stabilized.
								.projects-img
									+img('projects-bgc-1.jpg')
							.m6.projects-t30
								.projects-block
									.projects-info
										h5.projects-info-title
											span.animation 14-16 Broad Street
											span.animation Red Bank
										p.projects-info-desc 77,000sq Office/Medical Complex, purchased at 55% occupancy, sitting on 5.5 Acre property. Within 1 year, complex is 96% Occupied and fully stabilized.
									.projects-img
										+img('projects-bgc-2.jpg')
								.projects-block.mt19
									.projects-info
										h5.projects-info-title
											span.animation 14-16 Broad Street
											span.animation Red Bank
										p.projects-info-desc 77,000sq Office/Medical Complex, purchased at 55% occupancy, sitting on 5.5 Acre property. Within 1 year, complex is 96% Occupied and fully stabilized.
									.projects-img
										+img('projects-bgc-3.jpg')

		include parts/contacts